<% var i=0; %>
  <% while(i< prodotti.length) { %>
    <div class="row">
      <% for(var j =0; (j<4) && (i< prodotti.length); j++) { %>
        <div class="col-sm-3 col-xs-6">
          <div class="thumbnail">
            <img src="https://source.unsplash.com/280x280/?technology" alt="" onclick="window.location = window.location.origin + '/prodotto?pro=<%- prodotti[i]._id %>';">
            <div class="caption">
              <h3>
                <%= prodotti[i].nome %>
              </h3>
              <p style="text-align: justify">
                <%= prodotti[i].descrizione %>
              </p>
              <h3 style="text-align: center">
                <%= prodotti[i].prezzo %> € </h3>
              <br>
              <% if(prodotti[i].quantità > 0){ %>
                <span class="disponibilità"> Disponibile </span>
                <p>
                  <button href="#" class="btn btn-primary " role="button" onclick="window.location = window.location.origin + '/carrello?add=<%- prodotti[i]._id %>';">Acquista</button>
                  <button href="#" class="btn btn-default" role="button" onclick="window.location = window.location.origin + '/prodotto?pro=<%- prodotti[i]._id %>';">Dettagli</button>
                </p>

                <% } else if(auth == true) { %>
                  <span id="item-not-available" class="item-availability"> Non disponibile</span>
                  <p>
                  <button id="Alert-button" class="btn btn-info" onclick="avvisaUser('<%- prodotti[i]._id %>')"> Avvisami </button>
                  <button href="#" class="btn btn-default" role="button" onclick="window.location = window.location.origin + '/prodotto?pro=<%- prodotti[i]._id %>';">Dettagli</button>
                </p>
                  <% }else{%>
                    <span id="item-not-available" class="item-availability"> Non disponibile</span>
                    <p>
                      <button href="#" class="btn btn-default" role="button" onclick="window.location = window.location.origin + '/prodotto?pro=<%- prodotti[i]._id %>';">Dettagli</button>
                    </p>
                    <%} %>
            </div>
          </div>
        </div>
        <% i++; %>
          <% } %>

    </div>
    <% } %>
      <script>
        function avvisaUser(codice) {
          $.ajax({
            type: 'POST',
            url: window.location.origin + '/avvertimi',
            timeout: 5000,//timeout,
            data: { codice: codice },
            success: function () {
              alert('Grazie!\n Sarai avvisato tramite mail non appena il prodotto tornerà disponibile.');
            },
            error: function (jqXHR, textStatus, err) {
              console.log(jqXHR);
            }
          });

        }
      </script>